* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-body {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.container-login h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-login {
    margin-bottom: 10px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 310px;
}

.btn-login {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #45a049;
}


.link-required-password {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #007BFF;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.link-required-count {
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

.link-required-count a {
    color: #007BFF;
    cursor: pointer;
    text-decoration-color: none;
}